* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  width: 100%; }

nav {
  background-color: #0d6efd; }

.imagen_hero--seccion {
  display: block;
  margin: auto; }

@media screen and (max-width: 1024px) {
  .imagen_hero--seccion {
    width: 100%;
    display: block;
    margin: auto; } }

@media screen and (max-width: 768px) {
  .imagen_hero--seccion {
    width: 100%;
    max-width: 575px; } }

@media screen and (max-width: 575px) {
  .imagen_hero--seccion {
    width: 100%;
    max-width: 575px; } }

@media screen and (max-width: 520px) {
  .imagen_hero--seccion {
    width: 100%;
    max-width: 520px; } }

@media screen and (max-width: 425px) {
  .imagen_hero--seccion {
    width: 100%;
    max-width: 425px; } }

@media screen and (max-width: 375px) {
  .imagen_hero--seccion {
    width: 100%;
    max-width: 350px; } }

@media screen and (max-width: 320px) {
  .imagen_hero--seccion {
    width: 100%;
    max-width: 350px; } }

#ribbon {
  background-color: red;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131, 21, 21, 0.5) 25px, rgba(131, 21, 21, 0.5) 40px); }

#ribbon::after {
  content: " ";
  background-color: transparent;
  display: block;
  height: 20px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: auto; }

#ribbon_section {
  background-color: red;
  position: relative; }

.text-shadow {
  color: white; }

#ribbon_separator {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2; }
  #ribbon_separator .content {
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; }

@media screen and (max-width: 320px) {
  #ribbon {
    width: 100%; }
  .text-light {
    font-size: 15px; }
  .text-shadow {
    font-size: 10px; }
  #ribbon_separator {
    width: 112.4%;
    height: 80px;
    overflow: hidden;
    margin-left: -12.5%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%; } }

.card-border {
  border: solid 10px white;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s; }

.card-border:hover {
  transform: scale(1.05); }

#productos_separator {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2; }
  #productos_separator .content {
    width: 110%;
    height: 150px;
    margin-left: -5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; }

@media (max-width: 320px) {
  #productos_separator {
    width: 100%; }
    #productos_separator .content {
      height: 80px;
      overflow: hidden;
      margin-left: -5%;
      border-top-left-radius: 25%;
      border-top-right-radius: 25%; } }

.imagen_sobre--nosotros {
  width: 500px; }

.texto_sobre-nosotros {
  line-height: 1.8;
  text-align: justify;
  font-size: 1em; }

@media screen and (max-width: 768px) {
  .imagen_sobre--nosotros {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 575px) {
  .imagen_sobre--nosotros {
    width: 100%;
    max-width: 575px; } }

@media screen and (max-width: 520px) {
  .imagen_sobre--nosotros {
    width: 100%;
    max-width: 520px; } }

@media screen and (max-width: 425px) {
  .imagen_sobre--nosotros {
    width: 100%;
    max-width: 425px; } }

@media screen and (max-width: 375px) {
  .imagen_sobre--nosotros {
    width: 100%;
    max-width: 375px; } }

@media screen and (max-width: 320px) {
  .imagen_sobre--nosotros {
    width: 100%;
    max-width: 350px; } }

.error {
  background-image: -225deg #473b7b 0%, #3584a7 51%, #30d2b3 100%; }

h1 {
  margin: 0px; }

.error__mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%; }
  .error__mensaje .error__mensaje--container {
    text-align: center;
    color: white; }
    .error__mensaje .error__mensaje--container h1 {
      font-size: 80px; }
    .error__mensaje .error__mensaje--container p {
      font-size: 10px; }

.preguntas_frecuentes {
  text-align: center; }

@media screen and (max-width: 425px) {
  table {
    width: 100%;
    max-width: 425px; }
  table tr {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 375px) {
  table {
    width: 100%;
    max-width: 375px; }
  table tr {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 320px) {
  table {
    width: 100%;
    max-width: 320px; }
  table tr {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 280px) {
  table {
    width: 100%;
    max-width: 280px; }
  table tr {
    display: flex;
    flex-direction: column; } }

.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666; }
  .contact-in .contact-map {
    width: 100%;
    height: auto;
    flex: 50%; }
    .contact-in .contact-map iframe {
      width: 100%;
      height: 100%; }
  .contact-in .contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center; }
    .contact-in .contact-form h1 {
      margin-bottom: 10px; }
  .contact-in .contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px; }
    .contact-in .contact-form-txt ::placeholder {
      color: #aaa; }
  .contact-in .contact-form-textarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif; }
    .contact-in .contact-form-textarea ::placeholder {
      color: #aaa; }
  .contact-in .contact-form-btn {
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    outline: 0;
    box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
    background: linear-gradient(to right, #dd0606, #0b92c4);
    color: #fff;
    animation: gradient 2.5s ease infinite;
    box-sizing: border-box; }

footer {
  background: #0D6EFD;
  width: 100%;
  bottom: 0;
  left: 0; }

footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%; }

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px; }

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px; }

.content .top .redes_sociales {
  display: flex; }

.content .top .redes_sociales a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease; }

.top .redes_sociales a:nth-child(1) {
  background: #4267B2; }

.top .redes_sociales a:nth-child(1):hover {
  color: #4267B2;
  background: #fff; }

.top .redes_sociales a:nth-child(2) {
  background: #1DA1F2; }

.top .redes_sociales a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff; }

.top .redes_sociales a:nth-child(3) {
  background: #E1306C; }

.top .redes_sociales a:nth-child(3):hover {
  color: #E1306C;
  background: #fff; }

footer .content .informacion {
  width: 100%;
  display: flex;
  justify-content: space-between; }

footer .content .informacion .informacion_items {
  width: calc(100% / 5 - 10px); }

.content .informacion .informacion_items .informacion_items--secciones {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative; }

.informacion .informacion_items .informacion_items--secciones::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff; }

.content .informacion .informacion_items li {
  margin: 6px 0;
  list-style: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease; }

.content .informacion .informacion_items li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease; }

.content .informacion .informacion_items li a:hover {
  opacity: 1;
  text-decoration: underline; }

.content .informacion .input-box {
  margin-right: 55px; }

.informacion .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px; }

.informacion .input-box input::placeholder {
  color: #AFAFB6;
  font-size: 16px; }

.informacion .input-box input[type="button"] {
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease; }

.input-box input[type="button"]:hover {
  opacity: 1; }

footer .bottom-details {
  width: 100%;
  background: #0F0844; }

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between; }

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none; }

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline; }

.bottom-details .bottom_text a {
  margin-right: 10px; }

@media screen and (max-width: 900px) {
  footer .content .informacion {
    flex-wrap: wrap; }
  footer .content .informacion .input-box {
    width: 40%;
    margin-top: 10px; } }

@media screen and (max-width: 700px) {
  footer {
    position: relative; }
  .content .top .redes_sociales a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px; }
  footer .content .informacion .informacion_items {
    width: calc(100% / 3 - 10px); }
  footer .content .informacion .input-box {
    width: 60%; }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px; } }

@media screen and (max-width: 520px) {
  footer::before {
    top: 145px; }
  footer .content .top {
    flex-direction: column; }
  .content .top .redes_sociales {
    margin-top: 16px; }
  footer .content .informacion .informacion_items {
    width: calc(100% / 2 - 10px); }
  footer .content .informacion .input-box {
    width: 100%; } }

@media screen and (max-width: 320px) {
  footer .content .top {
    flex-direction: column; }
  .content .top .redes_sociales {
    margin-top: 10px; }
  footer .content .informacion .informacion_items {
    width: calc(100% / 2 - 10px); }
  footer .content .informacion .input-box {
    width: 100%; } }

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px; }

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px; }

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px; }

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none; }

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: #d5d5d5;
  background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  z-index: 5; }

.timeline li {
  padding: 2em 0; }

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: red;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0; }

.timeline .hexa:before {
  border-bottom: 4px solid red;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px; }

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid red;
  bottom: -4px; }

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center; }

.flag-wrapper {
  text-align: center;
  position: relative; }

.flag {
  position: relative;
  display: inline;
  background: white;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px; }

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 8px;
  pointer-events: none; }

.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); }

.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15); }

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  color: #fff; }

.direction-l .time-wrapper {
  float: none; }

.direction-r .time-wrapper {
  float: none; }

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px; }

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: #fefefe;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 15; }

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15; }

@media screen and (min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px; }
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px; }
  .timeline .direction-l .hexa {
    left: auto;
    right: -28px; }
  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right; }
  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left; }
  .flag-wrapper {
    display: inline-block; }
  .flag {
    font-size: 18px; }
  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #fefefe;
    border-width: 8px; }
  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: #fefefe;
    border-width: 8px;
    left: -8px; }
  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0; }
  .direction-l .time-wrapper {
    float: left; }
  .direction-r .time-wrapper {
    float: right; }
  .time {
    padding: 5px 10px; }
  .direction-r .desc {
    margin: 1em 0 0 0.75em; } }

@media screen and (min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px; }
  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right; }
  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left; } }

@media screen and (min-width: 240px) and (max-width: 768px) {
  .timeline:before {
    visibility: hidden; } }
