
.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

#productos_separator{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;

    .content{
        width: 110%;
        height: 150px;
        margin-left: -5px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
}

@media (max-width:320px){
    #productos_separator{
        width: 100%;
        
        .content{
        height: 80px;
        overflow: hidden;
        margin-left: -5%;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        }
    }
}