#ribbon{
    background-color: red;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131, 21, 21, 0.5) 25px, rgba(131, 21, 21, 0.5) 40px);
}

#ribbon::after{
    content: " ";
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
}

#ribbon_section{
    background-color: red;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}        
                
.text-shadow{
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

#ribbon_separator{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;

    .content{
        width: 150%;
        height: 150px;
        margin-left: -25%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

}

@media screen and (max-width:320px){
    
    #ribbon{
        width: 100%;
    }
    
    .text-light{
        font-size: 15px;
    }

    .text-shadow{
        font-size: 10px;
    }

    #ribbon_separator{
        width: 112.4%;
        height: 80px;
        overflow: hidden;
        margin-left: -12.5%;
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;

    }
}
   

    
   




